.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  gap: 2rem;
  justify-content: center;
  padding-top: 50px;
}

.pet-card {
  overflow: hidden;
  box-shadow: 0 2px 20px rgb(232, 232, 232);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: 20ms ease-in;
  width: 100%;
  flex: 1;
  font-family: Inter;
}

.pet-card-body {
  justify-content: center;
  text-align: center;
}

.pet-card-title {
  padding: 10px 0px 5px 0px;
  font-size: 800;
  font-family: Konkhmer Sleokchher;
  align-items: center;
}

.pet-card-description {
  padding: 1rem;
  font-size: 800;
}

.pet-card-button {
  padding: 5px 10px 5px 10px;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid;
  font-weight: bold;
  border-radius: 12px;
  color: white;
  background-color: #EE5828;
  transition: 20ms ease-in;
}

.pet-card-button:hover {
  color: white;
  background-color: #EE5828;
}


.pet-card-image {
  margin: 2px 0px 12px 0px;
  top: 15rem;
  width: 100%;
}
