.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
  gap: 2rem;
  justify-content: center;
  padding-top: 40px;
}

.location-card {
  overflow: hidden;
  box-shadow: 0 2px 20px rgb(232, 232, 232);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 20ms ease-in;
}

.location-card:hover {
  transform: scale(1.02);
}


.card-title {
  padding: 1rem;
  font-size: 800;
}

.card-description {
  padding: 1rem;
  font-size: 800;
}


.card-button {
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid;
    font-weight: bold;
    border-radius: 12px;
    color: white;
    background-color:purple;
    transition: 20ms ease-in;
}

.card-button:hover {
    color: purple;
    background-color:rgba(128, 0, 128, 0.143);
}


.location_modal-close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.location_modal {
    display:flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content:center;
    justify-self: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border-radius: 12px;
}

.location_modal-content {
    width: 500px;
    position: relative;
    padding: 3.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
    background-color: beige;
}

.location_modal-close-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    border:none;
    cursor: pointer;
    padding:0px 0px 20px 0px;
}

.modal-image {
    border-radius: 12px;
    padding: 2px;
    top: 15rem;
}
.modal-title{
    text-align: center;
    padding: 15px;
}

.modal-description {
    text-align: center;
    padding-top: 10px;
}

.modal-capacity,
.modal-zipcode {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 15px;
}

.modal-description {
    font-size: var(--smaller-font-size);
    margin-bottom: 20px;
}

.modal-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 25px;
}

/*Active Modal*/
.active-modal {
    opacity: 1;
    visibility: visible;
}
